table {
    width:100%
}

table, th, td {
    background-color: blue;
    border-collapse: collapse;
    border: 5px solid black;
}

th {
    color: white;
    font-size: 25px;
    height: 80px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

td {
    color: yellow;
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    text-align: center;
    text-shadow: 3px 3px black;
}
